<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Gesoc, es un Saas de gestion comercial. En Gesoc puedes gestionar y controlar tus operacion y proyectos.">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Ingreso</title>

    <link rel="shortcut icon" href="/img/gsicon.png"/>

</head>

<body>
<div id="loader">
    <div class="loader"></div>
</div>
<header class="contenedor-barra d-flex jc-sb">
    <!--Menu Hamb -->
    <button id="btn-menu"><i class="fas fa-bars"></i></button>
    <nav id="navbar" class="navbar">
        <ul class="d-flex f-dir-col contenido-navbar">
            <div class="d-flex jc-sb ">
                <h2 class="txt-centrado">Menu</h2>
                <button id="btn-close" class="btn-primario"><i class="fas fa-times"></i></button>
            </div>
            <li><a href="egreso"><i class="fas fa-file-invoice"></i>Nuevo Egreso</a></li>
            <li><a href="ingreso"><i class="fas fa-file-invoice-dollar"></i>Nuevo Ingreso</a></li>
            <li><a href="presupuesto"><i class="fas fa-comments-dollar"></i>Nuevo Presupuesto</a></li>
            <li><a href="mensajes"><i class="fas fa-clipboard-check"></i>Resultado de Validaciones</a></li>
            <li><a href="busquedaOperacion"><i class="fas fa-file-import"></i>Buscar Operación</a></li>
            <li><a href="vinculacion"><i class="fas fa-link"></i>Vincular Operaciones</a></li>
            <li><a href="logout" id="logoutButton"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</a></li>
        </ul>
    </nav>
    <!--Logo -->
    <div class="ai-center txt-centrado">
        <a href="dashboard">
            <h1 id="logo" class="m-0 fw-700">Ge<span>Soc</span></h1>
        </a>
    </div>
</header>
<main class="seccion">
    <h1>Panel personal</h1>
    <!-- Burbuja Usuario-->
    <div class="burbuja  d-flex jc-sb ai-center">
        <div class="d-flex jc-sb">
            <p><i class="fa fa-user-tie"></i></p>
            <h3>Perfil del Usuario</h3>
        </div>
        <p><i class="fas fa-plus"></i></p>
    </div>
    <!-- Burbuja Usuario-->
    <section class="seccion">
        <div class="contenedor-centrada">
            <h3>Detalle del Usuario</h3>
            <div class="d-flex jc-sb">
                <div>
                    <p><span>Nombre:</span> {{usuario.nombre}}</p>
                    <p><span>Apellido:</span> {{usuario.apellido}}</p>
                </div>
                <div>
                    <p><span>Usuario:</span> {{usuario.username}}</p>
                    <p><span>Rol:</span> {{#if rol}}Administrador{{else}}Estandar{{/if}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Burbuja Organizacion-->
    <div class="burbuja  d-flex jc-sb ai-center">
        <div class="d-flex jc-sb">
            <p><i class="fa fa-building"></i></p>
            <h3>Sobre la Organización</h3>
        </div>
        <p><i class="fas fa-plus"></i></p>
    </div>
    <!-- Burbuja Organizacion-->
    <section class="seccion">
        <div class="contenedor-centrada">
            <h3>Detalle de la Organización</h3>
            <div class="d-flex jc-sb">
                <div>
                    <p><span>Organizacion:</span> {{organizacion.nombre}}</p>
                    <p><span>Entidad Seleccionada:</span> {{seleccionadaNombre}}</p>
                    <p><span>Descripcion:</span>{{seleccionadaDescripcion}}</p>
                </div>
                <div>
                    <p><span>Todas las Entidades:</span><br>{{seleccionadaNombre}}
                        {{#each entidades}}<br>{{nombre}}{{/each}}</p></div>
            </div>
        </div>
    </section>
    <!-- Burbuja Cambios-->
    <div class="burbuja  d-flex jc-sb ai-center">
        <div class="d-flex jc-sb">
            <p><i class="far fa-address-book"></i></p>
            <h3>Configuración del Perfil</h3>
        </div>
        <p><i class="fas fa-plus"></i></p>
    </div>
    <!-- Burbuja Organizacion-->
    <section class="seccion">
        <h3>Actualiza tu Perfil</h3>
        <div class="contenedor-entrada">
            <div class="d-flex jc-sb">
                <div>
                    <!-- Nombre-->
                    <form id="cambiar-nombre">
                        <label for="nombre">Nombre</label>
                        <br>
                        <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre...">
                        <input type="submit" id="btn-nombre" name="btn-nombre" class="btn btn-formulario"
                               value="Cambiar">
                    </form>
                    <br>
                    <!-- Apellido-->
                    <form id="cambiar-apellido">
                        <label for="apellido">Apellido</label>
                        <br>
                        <input type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido...">
                        <input type="submit" id="btn-apellido" name="btn-apellido" class="btn btn-formulario"
                               value="Cambiar">
                        <br>
                    </form>
                    <!-- Password-->
                    <form id="cambiar-password">
                        <label for="password">Contraseña</label>
                        <br>
                        <input type="password" name="password" id="password" placeholder="Ingrese nueva contraseña...">
                        <input type="submit" id="btn-password" name="btn-password" class="btn btn-formulario"
                               value="Cambiar">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Seccion ADMIN -->
    {{#if rol}}
        <div class="burbuja  d-flex jc-sb ai-center">
            <div class="d-flex jc-sb">
                <p><i class="fas fa-briefcase"></i></p>
                <h3>Configuracion de la Organización</h3>
            </div>
            <p><i class="fas fa-plus"></i></p>
        </div>
        <!-- Organizacion-->

        <section class="seccion">
            <div class="contenedor-centrada">
                <h3>Actualizar Organizacion</h3>
                <div class="d-flex jc-sb">
                    <div class="contenedor-entrada">
                        <!-- Organizacion-->
                        <form id="cambiar-nombre-organizacion">
                            <label for="nombre-organizacion">Nombre Organizacion</label>
                            <br>
                            <input type="text" name="nombre-organizacion" id="nombre-organizacion"
                                   placeholder="Ingrese nombre de la organizacion...">
                            <input type="submit" id="btn-nombre-organizacion" name="btn-nombre-organizacion"
                                   class="btn btn-formulario"
                                   value="Cambiar">
                        </form>
                    </div>
                </div>
                <hr>
                <h3>Actualizar Entidades</h3>
                <div>
                    <div class="contenedor-entrada">
                        <!-- Entidad-->
                        <form id="cambiar-entidad-organizacion">
                            <label for="entidad-organizacion">Entidades</label>
                            <br>
                            <select id="seleccion-entidad-organizacion" name="seleccion-entidad-organizacion">
                                <option value="" disabled selected>-- Seleccione --</option>
                                <option value={{seleccionadaId}}>{{seleccionadaNombre}}</option>
                                {{#each entidades}}
                                    <option value={{id}}>{{nombre}}</option>
                                {{/each}}
                            </select>
                            <input type="submit" id="btn-editar-entidad" name="btn-editar-entidad"
                                   class="btn btn-formulario"
                                   value="Editar"><br>
                            <div class="d-flex">
                                <input type="button" id="btn-borrar-entidad" name="btn-borrar-entidad"
                                       class="btn btn-formulario-danger"
                                       value="Borrar">

                                <input type="button" id="btn-nuevo-entidad" name="btn-nuevo-entidad"
                                       class="btn btn-formulario"
                                       value="Nuevo">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Burbuja Criterio -->
        <div class="burbuja  d-flex jc-sb ai-center">
            <div class="d-flex jc-sb">
                <p><i class="fas fa-tags"></i></p>
                <h3>Gestion de Criterios/Categorias</h3>
            </div>
            <p><i class="fas fa-plus"></i></p>
        </div>
        <!-- Criterios/Categorias -->
        <section class="seccion">
            <div class="contenedor-centrada">
                <h3>Configuración Criterios</h3>
                <!-- Criterios -->
                <div class="d-flex jc-sb">
                    <div class="contenedor-entrada">
                        <form id="cambiar-criterios">
                            <label for="seleccion-entidad-criterios">Entidad</label>
                            <br>
                            <select name="seleccion-entidad-criterios" id="seleccion-entidad-criterios">
                                <option value="" disabled selected>-- Seleccione --</option>
                                <option value={{seleccionadaId}}>{{seleccionadaNombre}}</option>
                                {{#each entidades}}
                                    <option value={{id}}>{{nombre}}</option>
                                {{/each}}
                            </select>
                            <br>
                            <label for="criterios">Criterio</label>
                            <br>
                            <select name="criterios" id="criterios">
                                <option value="" disabled selected>-- Seleccione --</option>
                            </select>
                            <input type="submit" id="btn-editar-criterios" name="btn-editar-criterios"
                                   class="btn btn-formulario"
                                   value="Editar">
                            <br>
                            <div class="d-flex">
                                <input type="button" id="btn-borrar-criterios" name="btn-borrar-criterios"
                                       class="btn btn-formulario-danger"
                                       value="Borrar">

                                <input type="button" id="btn-nuevo-criterios" name="btn-nuevo-criterios"
                                       class="btn btn-formulario"
                                       value="Nuevo">
                            </div>
                        </form>

                    </div>
                </div>
                <hr>
                <!-- Categorias -->

                <h3>Configuración Categorias</h3>
                <div class="d-flex jc-sb">
                    <div class="contenedor-entrada">
                        <form id="cambiar-categorias">
                            <label for="categorias">Categoria</label>
                            <br>
                            <select name="categorias" id="categorias">
                                <option value="" disabled selected>-- Seleccione --</option>
                            </select>
                            <input type="submit" id="btn-editar-categorias" name="btn-editar-categorias"
                                   class="btn btn-formulario"
                                   value="Editar">
                            <br>
                            <div class="d-flex">
                                <input type="button" id="btn-borrar-categorias" name="btn-borrar-categorias"
                                       class="btn btn-formulario-danger"
                                       value="Borrar">

                                <input type="button" id="btn-nuevo-categorias" name="btn-nuevo-categorias"
                                       class="btn btn-formulario"
                                       value="Nuevo">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
        <!-- Burbuja Usuario -->
        <div class="burbuja  d-flex jc-sb ai-center">
            <div class="d-flex jc-sb">
                <p><i class="far fa-address-card"></i></p>
                <h3>Gestion de Usuarios</h3>
            </div>
            <p><i class="fas fa-plus"></i></p>
        </div>
        <!-- Usuario -->
        <section class="seccion">
            <div class="contenedor-centrada">
                <h3>Configuración de Usuarios</h3>
                <div class="d-flex jc-sb">
                    <div class="contenedor-entrada">
                        <form id="cambiar-usuarios-organizacion">
                            <label for="usuarios-organizacion">Usuarios</label>
                            <br>
                            <select name="usuarios-organizacion" id="usuarios-organizacion">
                                <option>blabla</option>
                                <option>blabla</option>
                                <option>blabla</option>
                                <option>blabla</option>
                                <option>blabla</option>
                                <option>blabla</option>
                            </select>
                            <input type="submit" id="btn-editar-usuario" name="btn-editar-usuario"
                                   class="btn btn-formulario"
                                   value="Editar">
                            <br>
                            <div class="d-flex">
                                <input type="button" id="btn-borrar-usuario" name="btn-borrar-usuario"
                                       class="btn btn-formulario-danger"
                                       value="Borrar">

                                <input type="button" id="btn-nuevo-usuario" name="btn-nuevo-usuario"
                                       class="btn btn-formulario"
                                       value="Nuevo">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {{/if}}
</main>

{{#if rol}}
    <script type="module" src="js/gestion/organizacion.js" defer></script>
{{/if}}

<script type="module" src="js/usuario.js" defer></script>
<script type="module" src="js/generales.js" defer></script>
<script type="module" src="js/loader.js" defer></script>

</body>

</html>